{{#extends 'base'}}
{{#block 'content'}}
<h3>Welcome to bean flavour</h3>
    <a href="/products/" class="btn btn-primary btn-sm">Products</a>
    <a href="/products/create" class="btn btn-primary btn-sm">Create</a>
    <a href="/register" class="btn btn-primary btn-sm">User Registration</a>
{{/block}}
{{/extends}}