{{#extends 'base'}}

{{#block 'content'}}
<h1>Login</h1>
<p>Please login with your account below!</p>

<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}
    <div style="display:inline-block" class="mt-2">
        <input type="submit" class="btn btn-primary" value="Login" />
        or 
        <a href="/register" class="btn btn-primary">Sign up</a>
    </div>
    
</form>
{{/block}}

{{/extends}}